/* Stylesheet for HTML conversions of HTL editions */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Devanagari:wght@100..900&family=Noto+Sans+Tamil:wght@100..900&display=swap');

.Deva {
    font-family: 'Noto Serif Devanagari', serif;
    font-size: 120%;
}

.Taml {
    font-family: 'Noto Serif Tamil', serif;
    font-size: 95%;
    text-underline-offset: 0.4em;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Noto Sans', sans;
    text-underline-offset: 0.3em;
}

div.main-content {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    line-height: 1.5em;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
}

div.htl-edition, div.translation {
    max-width: 40em;
    padding-bottom: 1.6em;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
}

div.htl-edition, div.number {
    grid-column-start: 1;
    padding-right: 1em;
}

div.translation, div.stanza, div.paragraph, div.label, div.trailer, div.apparatus  {
    grid-column-start: 2;
    padding-right: 1em;
}

div.translation > div.number {
    display: none;
}

h1, h2, h3, h4 {
    text-align: center;
    padding-top: 0.8em;
    margin: 0.4em;
    grid-column-start: 2;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

p {
    margin-top: 0em;
    margin-bottom: 0.2em;
}

a, a:visited {
    color: #0063AF;
    text-decoration: none;
}

.stanza {
    line-height: 160%;
    position: relative;
}

.apparatus, .notes {
    margin-top: 0.75em;
    font-size: small;
    font-weight: normal;
    line-height: 1.6em;
}

.app-entry {
    max-width: fit-content;
}

.app-anchor {
    text-decoration: underline dotted;
}

h2 .app-entry, .label .app-entry, .trailer .app-entry {
    margin: auto;
}

.trailer {
    display: block;
    text-align: center;
    margin-top: 1.5em;
}

.label {
    margin-top: 1.5em;
    display: block;
    text-align: center;
}

.l {
    display: flex;
    flex-direction: row;
    white-space: pre-wrap;
    align-items: center;
    padding-bottom: 0.4em;
}

.translation {
    line-height: 1.6em;
}

sup {
    vertical-align: top;
    position: relative; top: -0.5em;
}

.control-box {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    font-size: small;
    z-index: 1;
    font-family: 'Noto Sans';
}

.collapsible-label {
    background-color: f2f2f2;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    font-family: 'Noto Sans';
    padding: 0.6em;
}

.active, .collapsible-label:hover {
    background-color: lightgray;
  }

.collapsible-content {
    background-color: #f2f2f2;
    padding: 0.6em;
    padding-top: 0.2em;
    padding-bottom: 1em;
    padding-right: 1em;
}

.control-heading {
    margin-top: 0.5em;
}

.control-suboption {
    margin-left: 1.5em;
}

.w {
    position: relative;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    display: block;
    text-align: left;
    width: max-content; 
    max-width: 400px;
    bottom: 100%;
    left: 50%;
    padding: 0.5em;
    margin-bottom: 0.2em;
    z-index: 1;
    font-size: 80%;
    background-color: #f2f2f2;
    color: black;
}

.Latn .tooltip {
    padding: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.stanza .w:hover {
    color: darkcyan;
  }

.w:hover .tooltip {
    visibility: visible;
}

.highlight {
    background-color: lightcyan;
}

.quote {
    font-size: 80%;
}

@media print
{    
    .control-box, .control-box *
    {
        display: none !important;
    }
}