/* Stylesheet for HTML conversions of TEI files for Tamil texts */

.tamil {
    font-family: 'Noto Serif Tamil', serif;
    text-underline-offset: 0.35em;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
}

div.main-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 55em;
}

h1 {
    font-size: x-large;
    text-align: center;
}

h2 {
    font-size: large;
    text-align: center;
}

h3 {
    font-size: medium;
    text-align: center;
}

.stanza {
    margin-top: 1.5em;
    line-height: 1.5em;
    position: relative;
}

.stanza-number {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.translation {
    margin-top: 1em;
    margin-bottom: 2.5em;
}

.colophon {
    display: block;
    text-align: center;
    margin-bottom: 2.5em;
}

.metre-indication {
    display: block;
    text-align: center;
}

.l {
    display: flex;
    flex-direction: row;
    white-space: pre-wrap;
    align-items: center;
    padding-bottom: 0.4em;
}

.w, .app-anchor, .note-anchor {
    position: relative;
  }

.w-tooltip, .app-tooltip, .note-tooltip {
    visibility: hidden;
    position:absolute;
    display:block;
    text-align: left;
    width: max-content; 
    max-width: 400px;
    bottom: 100%;
    left: 50%;
    padding: 0.2em;
    border-radius: 6px;
    z-index: 1;
    font-size: 80%;
    background-color: lightgray;
    color: black;
  }

.w:hover {
    color: darkcyan;
  }

.app-anchor:hover .app-tooltip, .note-anchor:hover .note-tooltip, .w:hover .w-tooltip {
    visibility: visible;
  }

.lem {
    text-decoration: wavy underline;
}

.note-target {
    text-decoration: dotted underline;
}

.tooltip .roman {
    font-style: italic;
}

.container {
    display: inline-flex;
    flex-direction: column;
}

.control-box {
    display: block;
    position: fixed;
    width: 18em;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    font-size: small;
    z-index: 1;
}

.control-heading {
    margin-top: 0.5em;
}

.control-suboption {
    margin-left: 1.5em;
}