/* Stylesheet for HTML conversions of HTL editions and translations */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Devanagari:wght@100..900&family=Noto+Sans+Tamil:wght@100..900&display=swap');

.Deva {
    font-family: 'Noto Sans Devanagari';
    font-size: 120%;
    line-height: 80%; /* Workaround to make sure Devanagari and Roman text have the same absolute line height */
}

.Taml {
    font-family: 'Noto Sans Tamil';
    text-underline-offset: 0.4em;
    line-height: 80%; /* Workaround to make sure Tamil and Roman text have the same absolute line height */
}

/* Toggleable class for grid layout */
.grid {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Noto Sans';
    color: #333333;
    text-underline-offset: 0.3em;
}

div.main-content {
    margin-left: auto;
    margin-right: auto;
    line-height: 180%;
    width: fit-content;
}

div.htl-edition, div.translation {
    width: 631px;
    /*margin-bottom: 1.6rem;*/
    display: grid;
    grid-template-columns: 1fr 15fr;
    align-items: start;
}

div.htl-edition, div.number {
    grid-column-start: 1;
}

div.number {
    margin-right: 1rem;
}

div.translation, div.stanza, div.paragraph, div.label, div.trailer, div.apparatus, div.notes {
    grid-column-start: 2;
}

h1, h2, h3, h4 {
    text-align: center;
    grid-column-start: 2;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

div.htl-edition[lang="ta"] div.stanza, div.htl-edition[lang="ta"] div.number {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

div.translation {
    margin-top: 0.6em;
    margin-bottom: 1.2em;
}

div.label {
    display: block;
    text-align: center;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

div.trailer {
    display: block;
    text-align: center;
    margin-top: 1.6rem;
}

div.apparatus, div.notes {
    font-size: small;
    font-weight: normal;
    line-height: 160%;
    margin-top: 0.6rem;
}

div.apparatus {
    margin-bottom: 0.6rem;
}

span.app-entry, span.note {
    display: block;
    max-width: fit-content;
}

span.app-anchor {
    text-decoration: underline dotted;
}

h2 span.app-entry, div.label span.app-entry, div.trailer span.app-entry {
    margin: auto;
}

sup {
    font-size: 80%;
    vertical-align: top;
    position: relative; top: -0.5rem;
}

a, a:visited {
    color: #0063AF;
    text-decoration: none;
}

span.quote {
    font-size: 80%;
}

span.foreign {
    font-style: italic;
}

span.foreign .Deva, .foreign .Taml {
    font-style: normal;
}

/* Workaround for indentation */
span.indent {
    display: inline-block;
    width: 2em;
}

/* Tooltips */

span.w {
    position: relative;
}

span.tooltip {
    visibility: hidden;
    position: absolute;
    display: block;
    text-align: left;
    width: max-content; 
    max-width: 400px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    margin-bottom: 0.3rem;
    z-index: 1;
    font-size: 80%;
    border-radius: 2px;
    background-color: #0063af;
    color: white;
    line-height: 170%;
}

span.tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* Position arrow at bottom of tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #0063af transparent transparent transparent;
  }

div.stanza span.w:hover {
    color: #b35100;
  }

span.w:hover span.tooltip {
    visibility: visible;
}

/* Toggleable class to highlight elements */
.highlight {
    background-color: #d1ebff;
}

/* Control box */

.control-box {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    font-size: small;
    z-index: 1;
    font-family: 'Noto Sans';
}

.collapsible-label {
    background-color: #f2f2f2;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    font-family: 'Noto Sans';
    padding: 0.6rem;
}

.active, .collapsible-label:hover {
    background-color: lightgray;
  }

.collapsible-content {
    background-color: #f2f2f2;
    padding: 0.6rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.control-heading {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.control-suboption {
    margin-left: 1.5rem;
}

/* Hide control box when printing */
@media print
{    
    .control-box, .control-box *
    {
        display: none !important;
    }
}